QWidget
{
  font-family:"Linux Libertine Display O";
  color: white;
  selection-background-color:#160811;
  selection-color: white;
  border-color:#2e2018;
}
QMessageBox, QFileDialog, QInputDialog
{
  font-family:"Linux Libertine Display O";
  color: white;
  selection-background-color:#160811;
  border-color:#2e2018;
  background-image: url(./data/img/button_bkg.png);
}

QAbstractScrollArea::corner {
    background: none;
    background-color:#2e2018;
    border: none;
}
QScrollArea#scrollArea_2
{
    background-image: url(./data/img/widget_bkg.png);
    border-style:none;
}
QWidget#menuPage, QWidget#bugReportPage, QScrollArea#publGameScrollArea, QWidget#gamePage, QListWidget#publicGameList, QWidget#publicServerPage, QWidget#publicGameInfoPage, QWidget#passwordPage, QWidget#settingsPage, QWidget#helpPage, QWidget#contHotSeatPage, QWidget#aboutPage, QWidget#tutorialPage, QWidget#joinPage, QWidget#editorPage, QWidget#newPuzzlePage, QWidget#joinPage
{
    background-image: url(./data/img/widget_bkg.png);
}

QWidget#newGamePage, QScrollArea#scrollArea, QWidget#scrollAreaContents
{
background-image: url(./data/img/button_bkg_disabled.png);
}
QWidget#sideBarPage, QWidget#pausedPage, QWidget#boardControlPage, QWidget#replayWidget
{
    background-image: url(./data/img/sidebar_bkg.png);
}

QPushButton#fastForwardButton, QPushButton#normalSpeedButton, QPushButton#nextStepButton, QPushButton#stepByStepButton
{
    font-size: 10pt;
}
QWidget#titlePage
{
  background-color: black;
  background-image: url();
}


fadingLabel
{
  color: white;
  font-size: 72pt;
  background-color: black;
  background-image: url();
}

QLabel#versionLabel
{
  /*font-size: 8pt;*/
  font-family: monospace;
}

QLabel#publicServerNetworkInfoLabel
{
  font-size: 32pt;
}

QTextBrowser
{
  color: black;
  background-color:rgba(239,242,237,255);
}

QLabel#graphicsViewMenuInfoLabel
{
  color: white;
  background-image: url();
}

QLabel#tipLabel
{
  font-size: 14pt;
  color: white;
  background-image: url(./data/img/button_bkg.png);
  border-style: solid;
  border-width: 5px;
  border-image: url(./data/img/button_border.png) 5 5 5 5 repeat;
  padding-left:2px;
  padding-right:2px;
  padding-top:1px;
  padding-bottom:3px;
}

QGraphicsView#sideBarCardGV
{
  border-style:solid;
  border-width:1px;
  border-color:white;
}

QGraphicsView
{
  border-style:none;
  border-width:0px;
}

QGroupBox
{
    border-style:solid;
padding:10px;
padding-top:16px;
    border-width:1px;
  border-color:white;
    background-image: url(./data/img/button_bkg.png);
}
QLabel#menuTitleLabel
{
    font-size: 60pt;/*
    color: white;
    background-image: url(./data/img/button_bkg_disabled.png);
    border-style: solid;
    border-width: 5px;
    border-image: url(./data/img/button_border.png) 5 5 5 5 repeat;
    padding-left:2px;
    padding-right:2px;
    padding-top:1px;
    padding-bottom:3px;*/
}
QLabel#publicGameTitleLabel
{
    font-size: 16pt;
    font-weight:bold;
}
QWidget#publicGameInfoWidget
{
background-image: url(./data/img/button_bkg.png);
border-width:1 0 1 0;
border-style:solid;
border-color:white;
}
QGroupBox::title
{
    border-style:solid;
    padding:4px;
    border-width:1 0 0 1;
  border-color:white;

}
QWidget#p1Widget, QWidget#p2Widget, QWidget#p3Widget, QWidget#p4Widget
{
      border-style:solid;
    border-width:1px;
  border-color:white;
    background-image: url(./data/img/button_bkg.png);
}
QWidget#testTabBtn
{
font-size: 32pt;
font-weight:bold;
}
QPushButton
{
  color: white;
  background-image: url(./data/img/button_bkg.png);
  border-style: solid;
  border-width: 5px;
  font-size:15pt;
  border-image: url(./data/img/button_border.png) 5 5 5 5 repeat;
  padding-left:4px;
  padding-right:4px;
  padding-top:1px;
  padding-bottom:3px;
}
QPushButton#nextTipButton
{
   font-size:10pt;
}
QComboBox, QTreeWidget
{
  color:white;
    border-image: url(./data/img/lineedit_border.png) 5 5 5 5 repeat;
      background-image: url(./data/img/button_bkg.png);
        border-style: solid;
  border-width: 1px;
    padding-left:4px;
  padding-right:4px;
  padding-top:1px;
  padding-bottom:3px;
}

QSlider::groove:horizontal {
    border: 1px solid #999999;
    height: 8px; /* the groove expands to the size of the slider by default. by giving it a height, it has a fixed size */
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #A1A1A1, stop:1 #c4c4c4);
    margin: 2px 0;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1, stop:0 #242424, stop:1 #2f2f2f);
    border: 1px solid #5c5c5c;
    width: 18px;
    margin: -1px 0; /* handle is placed by default on the contents rect of the groove. Expand outside the groove */
    border-radius: 1px;
}

QTreeWidget
{
    font-size:20pt;
}
QTreeWidget#decksTreeWidget,QTreeWidget#boardsTreeWidget
{
    font-size:14pt;
    font-weight:normal;
}
QComboBox:disabled
{
      background-image: url(./data/img/button_bkg_disabled.png);
}

QComboBox QAbstractItemView
{
  color:white;
    border-image: url(./data/img/lineedit_border.png) 5 5 5 5 repeat;
      background-image: url(./data/img/button_bkg.png);
        border-style: solid;
  border-width: 1px;
    padding-left:4px;
  padding-right:4px;
  padding-top:1px;
  padding-bottom:3px;
  width:200%;
  background-color:#2e2018;
  selection-background-color:#160811;
}
QComboBox QAbstractItemView::item
{
  padding-top:4px;
  padding-bottom:4px;
}

QListWidget::item:selected
{
color:white;
    background: #160811;
}

QTreeWidget::item:selected
{
    color:white;
    background: #160811;
}

QTreeWidget::branch:selected
{
color:white;
    background: #160811;
}

QHeaderView, QHeaderView::section
{
color: white;
background-color: #2e2018;
}

QComboBox::drop-down {border-width: 0px;} QComboBox::down-arrow {image: url(noimg); border-width: 0px;}

QLineEdit
{
  color: white;
  background-image: url(./data/img/button_bkg.png);
  border-style: solid;
  border-width: 2px;
  border-image: url(./data/img/lineedit_border.png) 5 5 5 5 repeat;
  padding-left:4px;
  padding-right:4px;
  padding-top:1px;
  padding-bottom:3px;
}

QLineEdit:disabled
{
    background-image: url(./data/img/button_bkg_disabled.png);
}

QPushButton:disabled
{
  color: white;
  border-style: solid;
  border-width: 5px;
  border-image: url(./data/img/button_border_disabled.png) 5 5 5 5 repeat;
  background-image: url(./data/img/button_bkg_disabled.png);
}

QPushButton:hover
{
  color: white;
  border-style: solid;
  border-width: 5px;
  border-image: url(./data/img/button_border_hover.png) 5 5 5 5 repeat;
}

QPushButton:pressed
{
  color: white;
  border-style: solid;
  border-width: 5px;
  border-image: url(./data/img/button_border_pressed.png) 5 5 5 5 repeat;
}

QLabel#graphicsViewMenuInfoLabel
{
font-family:"Linux Libertine Display O";
  background-color:rgba(102, 51, 0, 240);
  color:white;
  padding:0px;
  margin:0px;
  border-style:double;
  border-width:4px;
  border-color:rgba(152, 91, 0, 255);
}

QPushButton#graphicsViewMenuChoiceButton
{
  font-family:"Linux Libertine Display O";
  background-color:rgba(102, 51, 0, 240);
  color:white;
  padding:0px;
  margin:0px;
  border-style:double;
  border-width:4px;
  background-image: url();
  border-color:rgba(152, 91, 0, 255);
}

QPushButton#graphicsViewMenuChoiceButton:hover
{
background-color:rgba(102, 51, 0, 255);
  border-color:rgba(160, 90, 0, 255);
}
QScrollBar::add-line:vertical {
      border: none;
      background: none;
}

QScrollBar::sub-line:vertical {
      border: none;
      background: none;
}
QScrollBar:vertical {
color:white;
background-color:rgba(70, 41, 0, 240);
border: 1px solid black;
width: 14px;
background-image: url(./data/img/scrollbar_bkg.png);
}
QScrollBar::handle:vertical {
background-image: url(./data/img/button_bkg.png);
}
QScrollBar:vertical:disabled {
color:white;
background-color:rgba(70, 41, 0, 240);
border: 1px solid black;
width: 14px;
background-image: url(./data/img/scrollbar_bkg.png);
}
QScrollBar::handle:vertical:disabled {
background-image: url(./data/img/button_bkg.png);
}
QScrollBar::add-line:horizontal {
      border: none;
      background: none;
}

QScrollBar::sub-line:horizontal {
      border: none;
      background: none;
}
QScrollBar:horizontal {
color:white;
background-color:rgba(70, 41, 0, 240);
border: 1px solid black;
height: 14px;
background-image: url(./data/img/scrollbar_bkg.png);
}
QScrollBar::handle:horizontal {
background-image: url(./data/img/button_bkg.png);
}
QScrollBar:horizontal:disabled {
color:white;
background-color:rgba(70, 41, 0, 240);
border: 1px solid black;
height: 14px;
background-image: url(./data/img/scrollbar_bkg.png);
}
QScrollBar::handle:horizontal:disabled {
background-image: url(./data/img/button_bkg.png);
}
QPushButton#graphicsViewMenuChoiceButton:disabled
{
  font-family:"Linux Libertine Display O";
  background-color:rgba(102, 51, 0, 180);
  border-color:rgba(152, 91, 0, 180);
  background-image: url();
  color:black;
}

QTabBar::tab, QTabBar QToolButton
{
  /*font-size:10pt;*/
  background-color:rgba(42, 28, 22, 230);
  color: white;
  padding-left:5px;
  padding-right:5px;
  padding-top:5px;
  padding-bottom:5px;
  border-style:solid;
  border-width: 1 1 1 1;
  border-color:white;
  border-radius:0px;
}

QTabBar::tab:selected
{
  border-color:#a70000;
}

QPushButton#endTurnButton
{
  font-size:22pt;
  color: white;
}

QPushButton#menuButton, QPushButton#gameInfoButton, QPushButton#zoomInButton, QPushButton#zoomOutButton, QPushButton#resetZoomButton, QPushButton#inGameBugreportButton, QLabel#currentPlayerLabel
{
  font-size:10pt;
  color: white;
}

QWidget#p1Widget, QWidget#p2Widget, QWidget#p3Widget, QWidget#p4Widget
{
  font-size:14pt;
  color: black;
}

QWidget#p1TitleLabel, QWidget#p2TitleLabel, QWidget#p3TitleLabel, QWidget#p4TitleLabel
{
  font-size:18pt;
  color: white;
}

QLabel#gameModeLabel, QLabel#deckLabel, QLabel#boardLabel
{
  font-size:16pt;
  color: white;
}
QLabel#loadedSaveNameLabel
{
  font-weight:bold;
  font-size:16pt;
  color: white;
}

QComboBox#gameModeComboBox, QComboBox#boardSelectionComboBox, QComboBox#deckSelectionComboBox
{
  font-size:16pt;
  color: white;
}

QLabel#p1NickLabel, QLabel#p1TeamLabel, QLabel#p1TeamText, QLabel#p1TypeLabel,
QLabel#p2NickLabel, QLabel#p2TeamLabel, QLabel#p2TeamText, QLabel#p2TypeLabel,
QLabel#p3NickLabel, QLabel#p3TeamLabel, QLabel#p3TeamText, QLabel#p3TypeLabel,
QLabel#p4NickLabel, QLabel#p4TeamLabel, QLabel#p4TeamText, QLabel#p4TypeLabel
{
  font-size:14pt;
  color: white;
}

QLineEdit#p1NickLineEdit, QComboBox#p1TypeComboBox,
QLineEdit#p2NickLineEdit, QComboBox#p2TypeComboBox,
QLineEdit#p3NickLineEdit, QComboBox#p3TypeComboBox,
QLineEdit#p4NickLineEdit, QComboBox#p4TypeComboBox,
QLineEdit#lobbyChatMsgEdit
{
  font-size:14pt;
}

QCheckBox {
    spacing: 5px;
}

QCheckBox::indicator {
    width: 13px;
    height: 13px;
}

QCheckBox::indicator:unchecked {
    image: url(./data/img/unchecked.png)
}

QCheckBox::indicator:unchecked:hover {
    image: url(./data/img/unchecked_highlight.png)
}

QCheckBox::indicator:unchecked:disabled {
    image: url(./data/img/unchecked_disabled.png)
}


QCheckBox::indicator:unchecked:pressed {
    image: url(./data/img/unchecked_highlight.png)
}

QCheckBox::indicator:checked {
    image: url(./data/img/checked.png)
}

QCheckBox::indicator:checked:disabled {
    image: url(./data/img/checked_disabled.png)
}

QCheckBox::indicator:checked:pressed {
    image: url(./data/img/checked_highlight.png)
}

QCheckBox::indicator:checked:hover {
    image: url(./data/img/checked_highlight.png)
}

QWidget#scrollAreaWidgetContents {
    background-image: url(./data/img/sidebar_bkg.png);
}

QWidget#chatTab, QWidget#scriptTab, QWidget#gameLogTab, QWidget#bottomWidget {
    background-image: url(./data/img/sidebar_bkg.png)
}

QLabel#privateGameInfoLabel
{
    font-size:11pt;
}

QSplitter
{
background-color:black;
color:white;
}
QListWidget
{
background-image:url(./data/img/sidebar_bkg.png);
color:white;
border-style:solid;
border-width:1px;
border-color:white;
}

QTextEdit#lobbyChatTextEdit,QTextEdit#chatHistoryTextEdit, QTextEdit#bugDescEdit

{
background-image:url(./data/img/button_bkg.png);
color:white;
border-style:solid;
border-width:1px;
border-color:white;
}

QPlainTextEdit
{
background-image:url(./data/img/sidebar_bkg.png);
color:white;
border-style:solid;
border-width:1px;
border-color:white;
}

QLabel#editorTitleLabel
{
  font-size: 24pt;
}
QLabel#gameModeSelLabel, QLabel#joinPageTitleLabel, QLabel#turnSwitchTitleLabel, QLabel#publicGameInfoPageTitleLabel, QLabel#passwordPageTitleLabel, QLabel#bugReportTitleLabel
{
  font-size: 32pt;
}

QPushButton#contHotSeatButton
{
  font-size:64pt;
}
